.form-search{
    margin: 10px;
    text-align: center !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-search .search .search-btn {
    margin-top: 10px;
}