@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0;
    margin: 0;
}

.grid-card{
    border-bottom: 1px solid black;
    border-right: 1px solid black;

}

.products-grid img{
    width: 90%;
    height: 50%;
}

.products-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "img title title"
        "img description description"
        "img price rating"
    ;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
}

.products-img-grid{
    grid-area: img;
    align-self: center;
    cursor: pointer;
}

.products-title-grid{
    grid-area: title;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 200px;
    cursor: pointer;
}

.products-description-grid{
    font-family: "Roboto Condensed", sans-serif;
    grid-area: description;
    display: -webkit-box;
    -webkit-line-clamp: 5;       /* Número máximo de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;           /* Oculta el texto que excede el ancho del contenedor */
    text-overflow: ellipsis;    /* Agrega puntos suspensivos (...) al final del texto truncado */
    width: 200px;                /* Ajusta el ancho según tus necesidades */
    text-align: justify;
    cursor: pointer;
}

.products-price-grid{
    grid-area: price;
}

.products-rating-grid{
    grid-area: rating;
}

.rating-stars {
    display: inline-block;
    font-size: 1.2em; /* Ajusta el tamaño de las estrellas según sea necesario */
    color: #ccc; /* Color de las estrellas vacías */
}

.rating-stars::before {
    content: '★★★★★'; /* Cinco estrellas */
    color: gold; /* Color de las estrellas llenas */
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: calc(var(--rating) * 1em); /* La longitud de las estrellas llenas según la calificación */
}

